body {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 2rem;
  padding-top: 100px;
  text-transform: uppercase;
}

p {
  text-transform: uppercase;
}

.lf-container {
  border: 1px solid #9e9d9d;
  max-width: 200px;
  border-radius: 10px;
  padding: 20px 0;
}