body {
  font-family: 'Lato', sans-serif;
}


h3 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 20px;
}

p {
  text-transform: uppercase;
  margin: 0;
  width: 60%;
  margin: 0 auto;
}

.btn {
  background-color: #e61313;
  color: #fcfbfb;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #b63939;
}

.btn.start {
  background-color: #5ca15e;
  color: #fcfbfb;
}

.btn.reset {
  background-color: #686868;
}

.lf-container {
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}



.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 20px;
}

.footer span {
  font-weight: lighter;
}