body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f6f6;
}

.btn {
  font-size: 1.3rem;
  background-color: #b36565;
  padding: 0 10px;
  color: #f1eeee;
  border: none;
}

.btn:hover {
  background-color: #b99999;
}

h3 {
  font-size: 1rem;
  color: #343434;
}

h1 {
  color: #343434;
  font-size: 1.8rem;
}

input {
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

input:focus {
  color: #797373;
}

.lf-container {
  max-width: 700px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  background-color: #f1eeee;
  padding: 0 10;
}


.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
}

.footer p {
  font-size: 1rem;
  font-weight: lighter;
}